.venv/
.env
db.sqlite3
__pycache__/
*.pyc
media/
staticfiles/
.DS_Store
daily_reports/

config/.venv/
config/.env
config/db.sqlite3
config/__pycache__/
config/**/*.pyc
config/media/
config/staticfiles/
config/.DS_Store
config/daily_reports/